@import "src/assets/variables.scss";

.card {
  background-color: $secondary-color;
  border-radius: 10px;
  margin: 1rem 0;
  padding: 1rem;
  h3 {
    margin: 0;
    color: $text-white;
  }
  span {
    color: $text-primary;
  }
}

.modal {
  color: $text-white;
  .modal-content {
    background-color: $secondary-color;
    padding: 2rem;
    form {
      .form-control {
        background-color: $secondary-color;
        color: $text-white;
        border: 1px solid $text-primary;
        &:focus {
          box-shadow: none;
        }
      }
      .add-new-subtask-btn {
        background-color: $white-color;
        color: $primary-color;
        padding: 0.8rem 1.5rem;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: $primary-color;
          color: $white-color;
        }
      }
      .edit-sub-task {
        .sub-task-div {
          position: relative;
          .sub-task-input {
            width: 95%;
          }
          span {
            position: absolute;
            right: 0;
            top: 7px;
            font-size: 30px;
            cursor: pointer;
            color: $text-primary;
          }
        }
      }

      .form-select {
        background-color: $secondary-color;
        color: $text-primary;
        border: 1px solid $text-primary;
        &:focus {
          box-shadow: none;
        }
      }
      .edit-task-btn {
        background-color: $primary-color;
        color: $white-color;
        padding: 0.8rem 1.5rem;
        border-radius: 50px;
        border: none;
        cursor: pointer;
        &:hover {
          background-color: rgba($primary-color, 0.5);
        }
      }
    }
  }
}
