@import "src/assets/variables.scss";

.sidebar {
  padding-top: 30%;
  color: $text-primary;
  h3 {
    margin-left: 2rem;
  }
  ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      padding: 0.8rem 2rem;
      color: $text-primary;
      margin-right: 1rem;
      &:visited {
        color: $text-primary;
      }
      &.active {
        background-color: $primary-color;
        border-radius: 0 5rem 5rem 0;
        color: $text-white;
      }
      &:hover {
        color: $text-white;
      }
      li {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
        list-style-type: none;
      }
    }
  }
}
